.projects {
    padding-top: 5%;
    padding-bottom: 2.5em;
    text-align: center;

}

.projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media(max-width:1440px) {
    .projects {
        padding-top: 10%;
    }
}

@media(max-width:768px) {
    .projects {
        padding-top: 15%;
    }
}

@media(max-width:414px) {
    .projects {
        padding-top: 25%;
    }
}