.navbar {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    background-color: #21042c;
    height: 60px;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    margin: 1em 0;
    letter-spacing: 0.2em;
}

.navbar-link-active {
    color: #f0860c;
}

@media(max-width:768px) {
    .navbar-items {
        display: none;
    }
}

@media(min-width:769px) {

    .navbar-toggle-button {
        display: none;
    }
}