.cube {
    top: 50%;
    right: 5%;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    position: absolute;
    z-index: -1;
}

.cube-content {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #7510f7;
    transform-style: preserve-3d;
    animation: cube-animation 5s infinite linear;
    -webkit-animation: cube-animation 5s infinite linear;
}

.cube i {
    margin: 0;
    display: block;
    position: absolute;
    width: 196px;
    height: 196px;
    font-size: 5.3em;
    color: #7510f7;
    line-height: 196px;
    text-align: center;
    border: 2px solid #f0860c;
}

.cube .front-side {
    transform: rotateY(0deg) translateZ(100px);
}

.cube .back-side {
    transform: rotateX(180deg) translateZ(100px);
}

.cube .left-side {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube .right-side {
    transform: rotateY(90deg) translateZ(100px);
}

.cube .top-side {
    transform: rotateX(90deg) translateZ(100px);
}

.cube .bottom-side {
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes cube-animation {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(-360deg) rotateY(-360deg);
    }
}

@-webkit-keyframes cube-animation {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(-360deg) rotateY(-360deg);
    }
}

@media(max-width:1360px) {
    .cube {
        top: 40%;
    }
}

@media(max-width:600px) {
    .cube {
        top: 35%;
        right: 15%;
    }
}

@media(max-width:414px) {
    .cube {
        top: 30%;
    }
}

@media(max-width:320px) {
    .cube {
        right: 10%;
    }
}